body{
    margin: 0;
}

header{
    height: 100px;
}

header img{
    padding-top: 20px;
}

main{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.section-left{
    width: 70%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.divs-section-left{
    flex: 1;
}

.buttons{

}

.section-right{
    width: 30%;
}