body{
    margin: 0;
    background-color: lightblue;
}

header{
    height: 100px;
}

header img{
    padding-top: 20px;
}

main{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

section{
    flex-direction: column;
}

.section-left{
    flex-direction: column;
    align-content: space-between;
    width: 60%;
    min-width: 350px;
    height: 600px;
}

.divs-section-left{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 78%;
}

textarea{
    width: 500px;
    height: 300px;
    font-size: 20px;
}

.div-two-section-left{
    height: 20%; 
}

.div-information img{
    position: relative;
    top: 37px;
    left: 10px;
}

.div-information p{
    margin-left: 30px;
}

button{
    flex-wrap: wrap;
    width: 140px;
    color: #FFF;
    margin: 0 5px;
    padding: 10px;
    font-weight: 700;
    background: #0A3871;
    border-radius: 24px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

.section-right{
    display: flex;
    justify-content: space-between;
    width: 35%;
    min-width: 350px;
    border: 2px solid #888898;
    border-radius: 10px;
    text-align: center;
}

.section-right div{
    flex: 1;
}

/* RESPONSIVO */

@media  (max-width: 399px){
    main{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
    textarea{
        width: 300px;
        height: 250px;
        margin: 0 auto;
    }
    
    section{
        width: 100%;
    }
     
    .divs-section-left{
        width: 350px;
        height: 50%;
        margin: 0 auto;
    }

    .div-two-section-left{
        margin-top: -50px;
    }
    
    .div-information{
        margin-left: 40px;
    }

    .buttons{
        display: block;
        width: 100%;
        height: 200px;
    }
    
    button{
        display: block;
        margin: 20px auto;
    }

    .section-right{
        height: 600px;
    }

}


@media (min-width: 400px) and (max-width: 599px){

    main{
        margin-bottom: 50px;
    }

    .section-left{
        display: block;
        margin: 0 auto;
    }

    .divs-section-left{
        height: 310px;
    }

    .buttons{
        display: block;
        width: 100%;
        height: 200px;
    }
    
    button{
        display: block;
        margin: 20px auto;
    }

    .section-right{
        margin: 0 auto;
    }
}

@media (min-width: 600px) and (max-width: 1150px){
    main{
        width: 600px;
        margin: 0 auto;
    }

    section{
        margin: 10px auto;
    }

    .divs-section-left{
        height: 50%;
    }

    .div-information{
        margin-left: 40px;
    }

    .buttons{
        display: block;
        height: 100px;
        margin-top: -100px;
    }

    button{
        margin: 10px 0 10px 30px;
    }

    .buttons button:nth-last-child(1){
        margin-left: 120px;
    }
}
